
<b style="font-family:Arial;font-size:20pt;"> Introduction to Jupyter notebook </b> <br>
<div align="left">
<img  align="left" src= https://project.lsst.org/sites/default/files/Rubin-O-Logo_0.png width=80 style="padding: 10px">
<img align="left" src =http://www.matf.bg.ac.rs/images/matf.gif width=65 style="padding: 10px">  
</div>


<i> by Viktor Radović, <a href="mailto:rviktor@matf.bg.ac.rs"> rviktor@matf.bg.ac.rs </a> <a href="mailto:viktor.radovic@gmail.com"> viktor.radovic@gmail.com </a> </i> <br>
 <u> Python for data processing of AGN variability within LSST, Student workshop, 26th March 2022. </u>

<hr>

### Summary
<ul style="list-style-type:sqare">
    <li> What is Jupyter notebook ? </li>
    <li> Ready, set, go! </li>
    <li> Programming - <i> Code option </i> </li>
    <li> Rich textual elements  - <i> Markdown option</i> </li>
    <li> Magic commands </li>
    <li> Interactive Jupyter notebook - a qucik look </li>
    <li> Saving your work </li>
</ul>
<hr>

####  <b> 1. What is Jupyter notebook ?  </b>

Jupyter notebook denotes one document that contains <b> both code and rich textual elements </b>(figures, links, equations, ...). That helps us combine the working code examples that can be executed with description and its results, which is ideal for presentations of our work.

The name "Jupyter" is an acronym meaning Julia, Python and R. These programming languages were the first ones that were included in the Jupyter application, but today, Jupyter notebook technology supports many other languages (a complete list can be seen <a href="https://github.com/jupyter/jupyter/wiki/Jupyter-kernels">here</a>).

The  Jupyter Notebook App allows us to edit and run our notebooks via a web browser, as it is a server-client application. It can be executed on a PC without Internet access, or it can be accessed through the Internet if it is installed on the remote server.

Its two main components are the <b>kernels</b> and a <b>dashboard</b>.
<ul style="list-style-position:inside;"> 
    <li> The kernel is the computational engine for the notebook. It executes the user's code. Users can change a kernel easily for each notebook. The Jupyter Notebook App has a kernel for Python code, but kernels are also available for many other programming languages.</li>
<li> The application dashboard shows you the notebook documents that you have made and can reopen but can also be used to manage the kernels: you can see which ones are running and shut them down if necessary. </li>
    </ul>
<hr>

####  <b> 2. Ready, set, go </b>
<b> 2. 1. Installation </b>


Jypyter notebooks can be installed using various ways (depending on the used system). One of the most commonly used ways is by installing Anaconda for Python, which integrates Jupyter notebooks. For detailed explanations see this <a href="https://www.youtube.com/watch?v=9tPS-7TWjq0"> YT video </a>.


<b> 2. 2. Getting Started  </b>

To start a Jupyter notebook, go to your terminal application and run one of these two commands:

`$ jupyter notebook`

or 

`$ jupyter lab`.

The application will be opened in the web browser, usually on the following address: http://localhost:8888, and you will immediately see the notebook name, a menu bar, a toolbar, and an empty code cell.

In the notebook environment, to create a new Notebook we need to click on the "New" button in the "Files" tab. We can see that we have the option to make a regular text file, a folder, or start a terminal. Also, there will be an option to make a Python 3 (or maybe more kernels will be shown) notebook.

In the lab environment, we go to the File -> New and choose the Notebook option. After that, we will be prompted to choose the desired kernel.



<img align = "center" src = http://enastava.matf.bg.ac.rs/~rviktor/test2.gif >

<hr>

####  <b> 3. Programming - <i> Code option </i> </b>

To run (execute) each cell, you need to press <i> Run the selected cells button</i> or press the Ctrl + Enter combination on the keyboard.

Here is one code example using the python package Pandas.

In [28]:
import numpy as np
import pandas as pd

**Reading tabular data file**

In [36]:
# Tabular data: data with rows and columns
# Common formats: .csv, .dat, .tsv, .json

sources = pd.read_table('planets.csv', sep=',')
#sources = pd.read_table('ZTF_data/obj_catalog.csv', sep=',', usecols=['objID', 'meanra', 'meandec'], nrows=10)
sources

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [8]:
sources.head() # Look at the first 5 rows

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [9]:
sources.tail() # Look at the last 5 rows

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [10]:
sources.columns # Returns all columns  namein data

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')

In [30]:
# display(sources['orbital_period'])          # pandas series
display(sources['orbital_period'].values)   # numpy array

array([269.3  , 874.774, 763.   , ...,   3.192,   4.125,   4.188])

**Accesing rows and columns using `loc` and `iloc`**

In [31]:
sources.iloc[10:20]

             method  number  orbital_period   mass  distance  year
10  Radial Velocity       2      883.000000  0.860     74.79  2010
11  Radial Velocity       1      335.100000  9.880     39.43  2009
12  Radial Velocity       1      479.100000  3.880     97.28  2008
13  Radial Velocity       3     1078.000000  2.530     14.08  1996
14  Radial Velocity       3     2391.000000  0.540     14.08  2001
15  Radial Velocity       3    14002.000000  1.640     14.08  2009
16  Radial Velocity       1        4.230785  0.472     15.36  1995
17  Radial Velocity       5       14.651000  0.800     12.53  1996
18  Radial Velocity       5       44.380000  0.165     12.53  2004
19  Radial Velocity       5     4909.000000  3.530     12.53  2002

In [15]:
# Accesing rows and columns satisfying a condition
condition = sources['orbital_period'] > 4
sources.loc[condition, ['method','orbital_period','distance']]

               method  orbital_period  distance
0     Radial Velocity      269.300000     77.40
1     Radial Velocity      874.774000     56.95
2     Radial Velocity      763.000000     19.84
3     Radial Velocity      326.030000    110.62
4     Radial Velocity      516.220000    119.47
...               ...             ...       ...
1014          Transit        4.378090    330.00
1017          Transit        4.086052    380.00
1018          Transit        4.614420    225.00
1033          Transit        4.125083    293.00
1034          Transit        4.187757    260.00

[806 rows x 3 columns]

In [16]:
sources.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

<hr>

#  <b>3. Rich textual elements  - <i> Markdown option</i>  </b>

Markdown is a markup language that is a writing standard for data scientists and analysts. The markup language is similar to Hypertext Markup Language(HTML), and most of the classic HTML tags are compatible with markdown and can be interpreted correctly. 

<b> 3. 1. Text </b>

The Headings start with '#,' i.e., hash symbol followed by the space, and there are six Headings. Also, it is possible to use classic h1-h6 HTML tags.

`### Heading 3`

Bold text is written between two * symbols `** bold text goes here **` <br>
Italic text is written betweein one * symbol `* italic text goes here *` <br>
Equations can be written using classic Tex symbols:

<div align = 'center'>
$CCF(\tau) = \int x(t) x(t + \tau) \mathrm{d}t$
</div>

<b> 3. 2. Code  </b>

Code section can be written as inline or as a multi-line code sample. The single line code sample can be written using:

` code goes here `

Multiple lines of the code can be shown as:

```Python
from math import pi
print(pi)
````

<b> 3. 3. Links and images </b>

Links are made using classical <b>a</b> HTML tag: `<a href="http://www.google.com"> Google </a>`. <br>
Images can also be uploaded using the corresponding HTML tag: `<img src="https://www.google.com/image.png" width ="500" height=500 >`

<hr>

####  <b> 4. Magic commands  </b>

Some predefined, so-called ‘magic functions’ (commands) can be practical while working with the Jupyter notebooks. To see which magic commands are available in the installed interpreter, it is sufficient to run the following command:

In [32]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

Also, a detailed explanation for the usage of each magic command is shown on this <a href="https://ipython.readthedocs.io/en/stable/interactive/magics.html">link</a>. We will present some useful commands to make a programmer's life easier while working with Jupyter notebooks.

In [33]:
# Set floating point precision for pretty printing
%precision 3

'%.3f'

In [34]:
from math import pi
pi

3.142

In [35]:
print(pi)

3.141592653589793

In [3]:
%pwd # Get a current working directory path.

'/home/viktor/Desktop'

In [31]:
# Give a time needed to execute a command 
%time 3**10

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 4.29 µs

59049

In [32]:
# Run pip command to install in the current kernel
%pip install --user  libwwz

In [ ]:
# Load a content of an other file 
# % load '/home/viktor/Desktop/planets.csv'
%load file_name

In [41]:
# To enable the inline backend for usage with the Notebook
%matplotlib inline

<hr>

####  <b> Interactive Jupyter notebook - a qucik look   </b>


It is possible to make a Jupyter notebook more interactive with a user. That can be achieved by using a widget package.

In order to do that, we need to import `widgets` from `ipywidgets` package. Detailed official documentation can be seen <a href="https://ipywidgets.readthedocs.io/en/latest/">here</a>, and one valuable link is <a href="https://blog.dominodatalab.com/interactive-dashboards-in-jupyter"> this one</a>. If you have some problems to isntall IPywidgets, please see StackOverflow link given <a href="https://stackoverflow.com/questions/36351109/ipython-notebook-ipywidgets-does-not-show">here</a>.

In [25]:
from ipywidgets import widgets
from IPython.display import display

txt = widgets.Text() # input field for text
display(txt)         # display a text field component

btn = widgets.Button(description = 'Click me!') # creates one button with 'Click me' text written on it
display(btn)

label = widgets.Label() # A label is a graphical component generally used to display a textual object.
display(label)

def action(a):
    val = int(txt.value);
    label.value = 'result = ' + str(val)
    
btn.on_click(action)

Text(value='')

Button(description='Click me!', style=ButtonStyle())

Label(value='')

<hr>

####  <b> Saving your work    </b>


In practice, a common scenario is that one would want to share his/hers notebooks with colleagues or friends to show them what they have been working on. However, the notebook documents are JSON documents that contain text, source code, rich media output, and metadata. Hence, they are challenging to read if an interpreter is not installed. 

Because of that, it is possible to save (download) created notebooks in various file formats, such as HTML, PDF, Python script, etc. 

To do that, go to File ->  Export Notebook As  -> Choose a desired exported file format from the drop-down list. Besides that, it is possible to use a command nbconvert in the terminal to make the same outcome:



`jupyter nbconvert --to html Untitled.ipynb`


<hr>